import java.nio.file.Paths

singularity {
	enabled = true
	runOptions = "-B /camp"
}

process {

	publish_mode = "symlink"
	publish_overwrite = true

	executor = "local"

	withLabel: sequencing {
		container = "docker://bahnk/sequencing:v1"
	}

	withLabel: python {
		container = "docker://bahnk/python:v1"
	}
}
