import java.nio.file.Paths

singularity {
	enabled = true
	runOptions = "-B /camp --nv"
}

process {

	publish_mode = "copy"
	publish_overwrite = true

	executor = "slurm"

	withLabel: sequencing {
		container = "docker://bahnk/sequencing:v2"
	}

	withLabel: python {
		container = "docker://bahnk/python:v1"
	}

	withLabel: gpu {
		executor = "slurm"
		container = "docker://bahnk/seqgpu:v1"
		clusterOptions = "--partition=gpu --gres=gpu:1"
		memory = "60G"
	}
}
